* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(7, 16, 24); */
    background-color: rgb(2, 12, 31);
    min-height: 100vh;
    max-height: fit-content;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    padding-bottom: 25px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    max-height: fit-content;
    background-color: black;
    position: sticky;
}

.navbar h1 {
    color: white;
    font-size: 25px;
    /* background-color: blanchedalmond; */
    /* height: 100%; */
    width: 40%;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-transform: uppercase;
    cursor: pointer;

}

.hamburger-menu {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 2.2rem;
    width: 2.2rem;
    cursor: pointer;
    opacity: 0;
}

.hamburger-menu .bar {
    height: 5px;
    background: white;
    border-radius: 5px;
    margin: 3px 0px;
    transform-origin: left;
    transition: all 0.5s;
}


/*
.hamburger-menu:hover .top {
    transform: rotate(45deg);
}

.hamburger-menu:hover .middle {
    opacity: 0;
}

.hamburger-menu:hover .bottom {
    /* transform: rotate(-45deg); */


/* }  */

.nav-list {
    display: flex;
    width: 40%;
    /* background-color: red; */
    justify-content: right;
    align-items: right;
}

.nav-list li {
    list-style-type: none;
    margin-left: 15px;
    transition-duration: 0.5s;
    transition-property: all;
    /* background-color: aqua; */
}

.nav-list li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 20px 10px;
    transition-duration: 0.5s;
    transition-property: all;
    color: white;
    font-family: 'Kaushan Script', cursive;
}

.nav-list li a:hover {
    /* color: rgb(0, 255, 191); */
    background-color: rgb(21, 37, 54);
    /* background-color: rgb(2, 12, 31); */
}

.mobile_menu {
    background-color: black;
    height: 0px;
    transition-duration: 0.5s;
    overflow: hidden;
}

.mobile_menu ul li {
    text-align: center;
    padding: 10px;
}

.mobile_menu ul li:hover {
    background-color: rgb(21, 37, 54);
}

.mobile_menu ul li a {
    color: white;
    text-decoration: none;
}

#homePage {
    transition-duration: 0.5s;
    transition-property: all;
    display: block;
}

.content h3 {
    font-family: 'Kaushan Script', cursive;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    padding-bottom: 15px;
}

.content .content_Container {
    margin-left: -15px;
}

.content .options_Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 60%;
    /* margin-left: -15px;
    margin-top: 15px; */
    /* justify-content: center;
    align-items: center; */
    /* background-color: blue; */
    /* background-color: antiquewhite; */
    /* margin-left: 175px;
    margin-right: 200px; */
    /* align-items: center;
    justify-content: center; */
}

.content .options_Container .cards {
    /* background-color: rgb(9, 32, 45); */
    /* background-color: rgb(26, 44, 63); */
    /* border-style: solid; */
    /* border-color: blue; */
    /* border-radius: 20px; */
    margin-left: 15px;
    margin-top: 15px;
    transition-duration: 0.5s;
    background-color: rgb(13, 24, 37);
    /* border-color: rgb(91, 149, 255); */
    box-shadow: 0px 0px 20px black;
    height: 250px;
    width: 30%;
    padding-bottom: 5px;
    /* width: 300px; */
    cursor: pointer;
    color: white;
}

.content .options_Container .cards a .icons {
   display: flex;
   align-items: center;
   justify-content: center;
    width: 100%;
    height: 100px;
    margin-top: 22px;
}

.content .options_Container .cards a .icons img {
    height: fit-content;
    width: fit-content;
    transform: scale(0.25);
}

.content .options_Container .cards:hover {
    /* background-color: rgb(10, 28, 49); */
    border-style: solid;
    /* border-color: rgb(91, 149, 255); */
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(91, 149, 255);
    background-color: rgb(2, 12, 31);
    transform: scale(1.05);
}

.content .options_Container .cards a {
    text-decoration: none;
    color: white;
}

.content .options_Container .cards a h4 {
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    /* font-size: 150%; */
    font-size: 22px;
    letter-spacing: 1px;
    padding: 15px;
    margin-top: 25px;
    /* text-align: center; */
    /* text-decoration: underline; */
    /* border-bottom: solid; */
}

.content .options_Container .cards a p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
    margin-top: -10px;
    opacity: 0.6;
    font-family: 'Merienda', cursive;
}

.footer {
    color: white;
    background-color: black;
    height: 28vh;
    margin-bottom: 0px;
    margin-top: 30px;
}

.footer h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 22px;
}

.footer p {
    width: 50%;
    margin: auto;
}

.footer .center {
    text-align: center;
    color: rgb(0, 255, 191);
    margin-top: 2px;
    font-family: cursive;
    font-size: 20px;
}

.footer h5 {
    padding-left: 10px;
}

.footer .fimg {
    width: 50%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer .fimg img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    transition-duration: 0.3s;
}

.footer .fimg img:hover {
    transform: scale(1.2);
}

/* Submenu Page */
.subMenuPage {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin: 0px auto;
    margin-top: 30px;
    min-height: 150px;
    max-height: fit-content;
    transition-duration: 1s;
    padding-bottom: 5px;
}

.subMenuPage h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.6rem;
    height: fit-content;
    background-color: rgb(2, 12, 31);
    width: fit-content;
    padding: 0px 10px;
    border-radius: 10px;
    margin-top: -25px;
    color: rgba(255, 255, 255, 1);
}

.subMenuPage label {
    width: 96%;
    padding-left: 10px;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

.subMenuPage input {
    width: 92%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    border: none;
}

.subMenuPage button {
    width: 50%;
    height: 40px;
    margin-top: 10px;
}

.subMenuPage ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    width: 95%;
    margin: 5px auto;
}

.subMenuPage ul li {
    height: 30px;
    width: 47%;
    background-color: brown;
    border-radius: 10px;
    text-align: center;
    padding: 5px 5px;
    padding-top: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.1rem;
    margin-top: 5px;
}

.subMenuPageOutput {
    margin-top: 40px;
    
    
}

.subMenuPageOutput h3 {
    font-size: 1.4rem;
    text-align: center;
    width: 87%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    min-height: 50px;
    max-height: fit-content;
    padding: 3px 0px;
}

.subMenuPageOutput ul {
    display: flex;
    flex-direction: column;
    
}

.subMenuPageOutput ul li {
    width: 95%;
    height: 30px;
    padding: 10px 5px;
    padding-bottom: 25px;
    background-color: transparent;
}

.subMenuPageOutput ul li .LI-heading {
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    height: fit-content;
    
}

.subMenuPageOutput ul li .LI-subhead {
    color: gray;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Merienda', cursive;
    /* height: fit-content;S */
}
.subMenuPageOutput .btnExpand{
    color: rgb(55, 238, 55);
    font-size: 1.5rem;
    background-color: black;
    height: fit-content;
    text-align: center;
    width: 70%;
    padding: 10px;
    margin-top: -25px;
    border-radius: 10px;
    font-family: 'Merienda', cursive;
    cursor: pointer;
}
.subMenuPageOutput .routeDetailsNote{
    width: 97%;
    height: fit-content;
    margin: 15px 0px;
    display: none;
}
.subMenuPageOutput .routeDetailsNote h3{
    color: #F1C40F;
    border: none;
    height: fit-content;
    width: 100%;
    font-size: 1.4rem;
    text-align: left;
    background-color: transparent;
}
.subMenuPageOutput .routeDetailsNote p{
    margin-top: -20px;
    font-family: 'Merienda', cursive;
    font-size: 0.8rem;
    opacity: 0.8;
}
.subMenuPageBSD {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin: 0px auto;
    margin-top: 30px;
    min-height: 200px;
    max-height: fit-content;
    transition-duration: 1s;
    padding-bottom: 5px;
}
.subMenuPageBSD h3 {
    font-family: 'Kaushan Script', cursive;
    height: fit-content;
    background-color: rgb(2, 12, 31);
    width: fit-content;
    padding: 0px 10px;
    border-radius: 10px;
    margin-top: -25px;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    text-align: center;
    width: 87%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    min-height: 40px;
    max-height: fit-content;
    padding: 4px 0px;
}
.subMenuPageBSD p{
    width: 99%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    padding: 5px;
    
}
.subMenuPageBSD ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height:fit-content ;
    justify-content: center;
    padding-bottom: 5px;
    
}
.subMenuPageBSD ul li{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 1.2rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}
/* .subMenuPageBSD ul li:nth-child(even){
    color: rgb(63, 197, 74);
}
.subMenuPageBSD ul li:nth-child(odd){
    color: rgb(233, 192, 45);
} */


/* Alternate Route CSS Section */
.subMenuPageALT{
    display: none;
    border: none;
}
.subMenuPageALT .structureALT{
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding-bottom: 10px;
    margin-top: 5px;
}
.subMenuPageALT h4{
    width: 96%;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    color: #F1C40F;
    
}
.subMenuPageALT .ALT_cnt_row{
    display: flex;
    flex-direction: row;
    width: 96%;
    min-height: 110px;
    max-height: fit-content;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(21, 7, 62);
    margin-top: 10px;
    
}
.subMenuPageALT .ALT_cnt_row .ALT_route_No{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: black;
    border-right-style: solid;
    border-color: rgb(12, 172, 12);
    border-width: 4px;
    align-items: center;
    justify-content: center;
    
}
.subMenuPageALT .ALT_cnt_row .ALT_route_No p{
    width: 80%;
    height: fit-content;
    text-align: center;
    font-size: 1rem;
    
}
.subMenuPageALT .ALT_cnt_row .ALT_route_No h4{
    width: 80%;
    height: fit-content;
    text-align: center;
    font-size: 2rem;
    margin-top: 0px;
    color: white;
    /* background-color: antiquewhite; */
    
}
.subMenuPageALT .ALT_cnt_row .ALT_description{
    display: flex;
    flex-direction: column;
    width: 65%;
    
    /* background-color: #071130; */
    background-color: #17202b;
}
.subMenuPageALT .ALT_cnt_row .ALT_description p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    width: 96%;
    
}
.subMenuPageALT .ALT_cnt_row .ALT_description .ALT_description_P{
    color: white;
    font-size: 0.7rem;
    text-align: left;
    width: 95%;
    margin-top: -5px;
    opacity: 0.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fare Details Section */
.subMenuPageFD{
    display: none;
    flex-direction: column;
    align-items: center;
    
}
.subMenuPageFD h3{
    font-family: 'Kaushan Script', cursive;
    height: fit-content;
    background-color: rgb(2, 12, 31);
    width: fit-content;
    padding: 0px 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    text-align: center;
    width: 87%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    min-height: 40px;
    max-height: fit-content;
    padding: 4px 0px;
}
.subMenuPageFD .styled-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 95%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1.5px solid rgba(255, 255, 255,0.5);
    
}
.subMenuPageFD .styled-table thead tr {
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    color: yellow;
    text-align: left;
    font-size: 1.3rem;
    /* background-color: rgb(23, 78, 23); */
    background-color: rgb(7, 9, 46);
    /* background-color: #17202b; */
    
}
.subMenuPageFD .styled-table th,
.styled-table td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    
    
    font-size: 1.1rem;
}
.note{
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 91%;
    margin: 0px auto;
    margin-top: 10px;
    min-height: 100px;
    max-height: fit-content;
    transition-duration: 1s;
    padding: 5px;
}
.note h3{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: #F1C40F;
}
.note p{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





@media only screen and (max-width: 1024px) {
    .navbar h1 {
        margin-left: 15px;
    }

    .nav-list {
        width: 65%;
    }

    .slider-text {
        margin-top: -62px;
    }

    .content .options_Container {
        width: 75%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .footer {
        height: 35vh;
    }

    .footer p {
        width: 80%;
    }
}


@media only screen and (max-width: 780px) {
    .navbar h1 {
        font-size: 20px;
        width: 70%;
    }

    .hamburger-menu {
        opacity: 1;
        margin-left: 10px;
    }

    .mobile_menu {
        transition-duration: 0.5s;
        height: 0px;
    }

    .nav-list {
        display: none;
    }

    .slider {
        background-color: black;
        height: 45vh;
    }

    .slider-text {
        margin-top: -53px;
        height: 7vh;
        opacity: 0.7;
    }

    .slider-text h4 {
        font-size: 15px;
    }

    .slider-text p {
        margin-top: 2px;
        font-size: 12px;
    }

    .content h3 {
        font-size: 25px;
    }

    .content .content_Container {
        margin-left: -10px;
    }

    .content .options_Container {
        width: 95%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .content .options_Container .cards {
        width: 45%;
        height: 200px;
        margin-top: 10px;
        margin-left: 10px;
        box-shadow: 0px 0px 10px black;
    }

    .content .options_Container .cards a .icons {
        display: flex;
        align-items: center;
        justify-content: center;
         width: 100%;
         height: 100px;
         margin-top: 22px;
     }
     
     .content .options_Container .cards a .icons img {
         height: fit-content;
         width: fit-content;
         transform: scale(1.5);
     }

    .content .options_Container .cards a h4 {
        font-size: 18px;
        padding-top: 0px;
    }

    .content .options_Container .cards a p {
        font-size: 10px;
    }

    .footer {
        height: 30vh;
    }

    .footer h3 {
        font-size: 18px;
    }

    .footer p {
        width: 95%;
        font-size: 12px;
    }

    .footer .center {
        font-size: 15px;
    }

    .footer h5 {
        font-size: 10px;
    }

    .footer .fimg {
        transform: scale(0.7);
    }

    .footer .fimg img:hover {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 600px) {
    .navbar h1 {
        font-size: 1rem;
        width: 70%;
    }

    .hamburger-menu {
        opacity: 1;
        margin-left: 10px;
    }

    .mobile_menu {
        transition-duration: 0.5s;
        height: 0px;
    }

    .nav-list {
        display: none;
    }

    .slider {
        background-color: black;
        height: 45vh;
    }

    .slider-text {
        margin-top: -53px;
        height: 7vh;
        opacity: 0.7;
    }

    .slider-text h4 {
        font-size: 15px;
    }

    .slider-text p {
        margin-top: 2px;
        font-size: 12px;
    }

    .content h3 {
        font-size: 25px;
    }

    .content .content_Container {
        margin-left: -10px;
    }

    .content .options_Container {
        width: 95%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .content .options_Container .cards {
        width: 45%;
        height: 200px;
        margin-top: 10px;
        margin-left: 10px;
        box-shadow: 0px 0px 10px black;
        overflow: hidden;
    }

    .content .options_Container .cards a .icons {
        height: 60px;
        /* background-color: aqua; */
    }

    .content .options_Container .cards a .icons img {
        /* transform: scale(0.5); */
        height: 100%;
    }

    .content .options_Container .cards a h4 {
        font-size: 1.1rem;
        padding-top: 0px;
        text-align: center;
    }

    .content .options_Container .cards a p {
        font-size: 0.6rem;
    }

    .footer {
        height: 30vh;
    }

    .footer h3 {
        font-size: 18px;
    }

    .footer p {
        width: 95%;
        font-size: 12px;
    }

    .footer .center {
        font-size: 15px;
    }

    .footer h5 {
        font-size: 10px;
    }

    .footer .fimg {
        transform: scale(0.7);
    }

    .footer .fimg img:hover {
        transform: scale(0.9);
    }
}